Solo Projects/random files from the internet/duckduckgo stylesheet  s2035.css
Solo Projects/random files from the internet/duckduckgo stylesheet o2035.css
Solo Projects/HTML/My First Web Pages/index.html
